
#main-navbar {
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  background-color: blue;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
}

#sidebar-container a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}